<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="main-title">
      Sleep Tracker 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-button color="tertiary" expand="block" (click)="setOpenSleepModal(true)" class="log">Log Sleep</ion-button>
    <ion-modal [isOpen]="isSleepModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>


            <!-- Log Sleep Button -->
            <ion-title>Log Sleep</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenSleepModal(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-input label="Start Time" label-placement="floating" fill="outline" placeholder="Enter text" id="open-SleepStartModal" [(ngModel)]="selectedStartDate"></ion-input>
          <br />
          <ion-input label="End Time" label-placement="floating" fill="outline" placeholder="Enter text" id="open-SleepEndModal" [(ngModel)]="selectedEndDate"></ion-input>


            <!-- Calendar Popup For Start Time-->
            <ion-modal
            trigger="open-SleepStartModal"
            [initialBreakpoint]="0.75"
            [breakpoints]="[0, 0.25, 0.5, 0.75]"
            handleBehavior="cycle"
          >
            <ng-template>
              <ion-content class="ion-padding">
                <div class="ion-margin-top">
                  <ion-datetime [showDefaultButtons]="true" color="tertiary" [(ngModel)]="selectedStartDate"
                  (ngModelChange)="updateFormattedDate()"></ion-datetime>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>

            <!-- Calendar Popup For End Time-->
            <ion-modal
            trigger="open-SleepEndModal"
            [initialBreakpoint]="0.75"
            [breakpoints]="[0, 0.25, 0.5, 0.75]"
            handleBehavior="cycle"
          >
            <ng-template>
              <ion-content class="ion-padding">
                <div class="ion-margin-top">
                  <ion-datetime [showDefaultButtons]="true" color="tertiary" [(ngModel)]="selectedEndDate"
                  (ngModelChange)="updateFormattedEndDate()"></ion-datetime>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
          <div class="submit-button-container">
            <ion-button color="tertiary" fill="solid" class="confirm" type="submit" (click)="logSleepData()">Confirm</ion-button>
          </div>


          <!-- Log Sleepiness -->
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-button color="tertiary" expand="block" (click)="setOpenSleepinessModal(true)" class="log">Log Sleepiness</ion-button>
    <ion-modal [isOpen]="isSleepinessModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Log Sleepiness</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenSleepinessModal(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">

          <ion-accordion-group>
            <ion-radio-group [(ngModel)]="selectedSleepinessLevel">
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-radio color="tertiary" value="1">1</ion-radio>
              </ion-item>
              <div class="ion-padding" slot="content">Feeling active, vital, alert, or wide awake.</div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-radio color="tertiary" value="2">2</ion-radio>
              </ion-item>
              <div class="ion-padding" slot="content">Functioning at high levels, but not at peak; able to concentrate.</div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                <ion-radio color="tertiary" value="3">3</ion-radio>
              </ion-item>
              <div class="ion-padding" slot="content">Awake, but relaxed; responsive but not fully alert.</div>
            </ion-accordion>
            <ion-accordion value="four">
              <ion-item slot="header" color="light">
                <ion-radio color="tertiary" value="4">4</ion-radio>
              </ion-item>
              <div class="ion-padding" slot="content">Somewhat foggy, let down.</div>
            </ion-accordion>
            <ion-accordion value="five">
              <ion-item slot="header" color="light">
                <ion-radio color="tertiary" value="5">5</ion-radio>
              </ion-item>
              <div class="ion-padding" slot="content">Foggy; losing interest in remaining awake; slowed down.</div>
            </ion-accordion>
            <ion-accordion value="six">
              <ion-item slot="header" color="light">
                <ion-radio color="tertiary" value="6">6</ion-radio>
              </ion-item>
              <div class="ion-padding" slot="content">Sleepy, woozy, fighting sleep; prefer to lie down.</div>
            </ion-accordion>
            <ion-accordion value="seven">
              <ion-item slot="header" color="light">
                <ion-radio color="tertiary" value="7">7</ion-radio>
              </ion-item>
              <div class="ion-padding" slot="content">No longer fighting sleep, sleep onset soon; having dream-like thoughts.</div>
            </ion-accordion>
          </ion-radio-group>
          </ion-accordion-group>

          <div class="submit-button-container">
            <ion-button color="tertiary" fill="solid" class="confirm" type="submit" (click)="logSleepinessData()">Confirm</ion-button>
          </div>
          


        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>


<!-- 'Feeling active, vital, alert, or wide awake', //1
'Functioning at high levels, but not at peak; able to concentrate', //2
'Awake, but relaxed; responsive but not fully alert', //3
'Somewhat foggy, let down', //4
'Foggy; losing interest in remaining awake; slowed down', //5
'Sleepy, woozy, fighting sleep; prefer to lie down', //6
'No longer fighting sleep, sleep onset soon; having dream-like thoughts']; //7 -->


<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/logs']">
      <ion-icon name="stats-chart-outline"></ion-icon>
      Logs
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
